# Python related
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.env/
.venv/

# MkDocs
site/

# Miscellaneous
.DS_Store
*.log
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.sublime-workspace
*.sublime-project

/local

.ipynb_checkpoints
